body { 
	background: url(../img/default.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 20px;
}

@font-face {
    font-family: Daysfont;
    src: url(../fonts/Days/Days.otf);
}

div.wrapper {
	font-family: Daysfont, Times, serif;
	background: #D8D8D8;
	opacity: 0.7;
	width: 400px;
	margin: auto;
	min-height: 430px;
	border-radius: 10px; 
	color: #000000;
	margin-bottom: 10px;
}

h4#error-message, div.additional {
	width: 400px;
	font-weight: bold;
	min-height: 60px;
	border-radius: 10px;
	background: #D8D8D8;
	opacity: 0.7;
	color: #000000;
	margin: auto;
	margin-bottom: 10px;
}

div.additional {
	font-size: 16px;
	min-height: 120px;
}

.degrees {
	font-size: 12px;
	position: relative;
	bottom: 17px;
}

div.main-block, h4#error-message, div.additional {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
	justify-content: center;
}

div.container-temp {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
}

div.day, div.night {
	height: 100px;
	width: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

div.day {
	background: #FFFFFF;
	opacity: 0.9;
}

div.night {
	background: #000000;
	opacity: 0.9;
}

span#day-temp, span#night-temp {
	font-size: 36px;
}

span#day-temp, span#day-heading {
	color: #000000;
}

span#night-temp, span#night-heading {
	color: #FFFFFF;
}

div.control-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

#previous-day, #next-day {
	width: 100px;
	
} 

div.control-panel .glyphicon {
	font-size: 30px;
	color: #BFBFBF;
}

div.wind-panel, div.humidity-panel, div.pressure-panel {
	margin-top: 10px;
	padding: 0px 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: white;
	width: 130px;
	height: 40px;
}

div.additional-forecast span.glyphicon {
	margin-right: 8px;
}

span#previous-day:hover {
	background: #FFFFFF;
}

span#next-day:hover {
	background: #000000;
}

span#next-day, span#previous-day {
	background: #7F7F7F;
	text-align: center;
	cursor: pointer;
}

span#previous-day {
	border-radius: 30px 0px 0px 30px; 
}

span#next-day {
	border-radius: 0px 30px 30px 0px; 
}

span#previous-day:hover > .glyphicon-arrow-left {
	color: #000000;
}

span#next-day:hover > .glyphicon-arrow-right {
	color: #FFFFFF;
}
